@model BusinessCatCreateDto

<style>
    .ck-editor__editable[role="textbox"] {
        min-height: 300px;
    }
</style>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Başlıq</label>
                <textarea id="title" asp-for="Title" class="form-control"></textarea>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Açıqlama</label>
                <textarea id="description" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"> Göstərici</label>
                <input id="point" asp-for="Points" class="form-control" id="answer" type="number" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@DefaultConstantValue.ADD_MESSAGE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstantValue.RETURN_TO_BACK</a>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#description'));

    ClassicEditor
        .create(document.querySelector('#title'));
</script>